/****BASE STYLES****/
h1{
  font-family: 'Indie Flower', cursive;
  font-size: 36px;
  font-weight: 700;
  line-height: 62px;
  background-color: #f0ebcf;
  text-align: center;
}
body{
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 23px;
  background-color: #f0ebcf;
  text-align: left;
}
.full-width{
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    clear:both;
}
.half-width{
    width: 600px;
    overflow: auto;
    float:left;
    display: block;
    clear: both;
}
.third-width{
    width: 400px;
    margin:auto;
    float:left;
    display: block;
    clear:none;
}
/****GRID STYLES****/
nav {
  font-family: 'Questrial', sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  word-spacing: 75px;
  margin-top: 30px;
  margin-bottom: 50px;
}
nav ul li {
  display: inline-block;
}
nav ul li a{
  text-transform:uppercase;
  text-decoration: none;
  padding left: 80px;
  color:#ff4b57;
  list-style-type: none;
}
#logo, #card{
  width:200px;
  height: auto;
}
#kick, #pick, #handout{
  width:200px;
  height:auto;
  margin:inherit;
}
#inline{
  width:300px;
  height:auto;
  float:right;
  clear: right;
  margin:inherit;
}
#logo{
  float:left;
}
#card{
  float:right;
  clear:right;
}
#siri {
  float:left;
  width:300px;
  height: auto;
  clear:left;
}
#third-block .third-width{
  float:left;
  width: 360px;
  clear:inline-start;
}
#handout{
  float:left;
  clear:left;
}
#first-block, #third-block p{
  float:left;
  width:200px;
  clear:inline-start;
}
#second-block, #fourth-block p{
  font-size: 12px;
  float:left;
  width:360px;
  height:auto;
  clear:inline-end;
}
