/****BASE STYLES****/
body{
  font-family: 'Indie Flower', cursive;
  font-size: 36px;
  font-weight: 700;
  line-height: 62px;
  background-color: #f0ebcf;
  text-align: center;
}
.full-width{
    width: 1200px;
    margin: 0 auto;
    margin-top:5px;
}
/****GRID STYLES****/
nav {
  font-family: 'Questrial', sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  word-spacing: 75px;
  margin-top: 30px;
  margin-bottom: 50px;
}
nav ul li {
  display: inline-block;
}
nav ul li a{
  text-transform:uppercase;
  text-decoration: none;
  padding left: 80px;
  color:#ff4b57;
  list-style-type: none;
}
h2{
  font-size: 32px;
  padding-top:0px;
}
#pic{
  height:400px;
  width:350px;
}
