/****BASE STYLES****/
h1{
  font-family: 'Indie Flower', cursive;
  font-size: 40px;
  font-weight: 700;
  line-height: 62px;
  text-align: center;
  text position: center;
}
body{
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 23px;
  background-color: #f0ebcf;
  text-align: left;
}

/****GRID STYLES****/
nav {
  font-family: 'Questrial', sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  word-spacing: 75px;
  margin-top: 30px;
  margin-bottom: 50px;
}
nav ul li {
  display: inline-block;
}
nav ul li a{
  text-transform:uppercase;
  text-decoration: none;
  padding left: 80px;
  color:#ff4b57;
  list-style-type: none;
}

* {
    box-sizing: border-box;
}
.container {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}
.container .content {
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    padding: 15px;
}
/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}
.row {
    margin: 8px -16px;
}
.row,
.row > .column {
    padding: 20px;
}
.column {
    float: left;
    width: 33%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.content {
    background-color: white;
    padding: 10px;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 900px) {
    .column {
        width: 50%;
    }
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}
